<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>The current time and date:</h1>
        @{
            DateTime CurrentTime = DateTime.Now;
        }
        <div class="date-time">
            <p>@CurrentTime.ToString("MMMM dd, yyy")</p>
            <p>@CurrentTime.ToString("h:mm tt")</p>
        </div>
        
    </div>
    

</body>
</html>